
.chatbot {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: azure;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}

.client {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: lightblue;
  border-radius: 5px;
  padding: 5px;

  float: right;

}
