<h3 style="text-align: center" class="full-width">Choose Date</h3>

<mat-divider></mat-divider>

<form class="form"  novalidate>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">date 1</mat-radio-button>
    <br>
    <mat-radio-button value="2">date 2</mat-radio-button>
    <br>
    <mat-radio-button value="3">date 3</mat-radio-button>
    <br>
    <mat-radio-button value="4">date 4</mat-radio-button>
    <br>
  </mat-radio-group>

  <mat-dialog-actions class="buttons">
    <button mat-raised-button type="submit" color="primary" class="button" >Confirm</button>
    <button mat-raised-button (click)="closeDialog()" color="warn" class="button">Discard</button>
  </mat-dialog-actions>
</form>
