<h3 style="text-align: center" class="full-width">Choose Date</h3>

<mat-divider></mat-divider>

<form class="form" #f='ngForm' (ngSubmit)="onSubmit(f)" novalidate>
  <mat-radio-group aria-label="Select an option" name="demoId" ngModel>
    <div *ngFor="let demo of demos">
      <mat-radio-button value="{{demo.id}}" >{{demo.start.dateTime | date:'EEEE d MMMM y h:mm a'}}</mat-radio-button>
      <br>
    </div>

  </mat-radio-group>


  <mat-dialog-actions class="buttons">
    <button mat-raised-button type="submit" color="primary" class="button" >Confirm</button>
    <button mat-raised-button (click)="closeDialog()" color="warn" class="button">Discard</button>
  </mat-dialog-actions>
</form>
