.bottom-right {
  width: 400px;
  height: 75%;
  position: absolute;
  bottom: 1%;
  right: 5%;

}

.chatbot {
  width: auto;
  height: 90%;
  margin-bottom: 10%;
  margin-right: 10%;
  border-radius: 15%;
}

.logo {
  max-inline-size: 100%;
  block-size: auto;
}
